body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    width: 1200px;
}

a {
    text-decoration: none;
}

.hotels-page .navigation-item:last-child a {
    color: #766357;
}

.button-details {
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.button-book {
    color: #ffffff;
    background-color: #766357;
    font-weight: 700;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.sedona-hotels {
    list-style: none;
}

.rating {
    color: #666666;
    background-color: #f2f2f2;
}

.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    display: flex;
    background-color: #ffffff;
    outline: 2px solid red;
    min-height: 56px;
}

.navigation-logo {
    outline: 2px solid red;
    width: 138px;
    min-height: 71px;
}

.site-navigation {
    list-style: none;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 56px;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 22px;
    vertical-align: middle;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
color: #81b3d2;
}

.navigation-item a:active {
    color: #cacaca;
}

.main-advantages {
    list-style: none;
    font-size: 21px;
    line-height: 21px;
}

.advantages h1 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
}

.advantages h3 {
    font-size: 21px;
    text-align: center;
    font-weight: 700;
}

.advantages:first-child p {
    text-align: center;
    line-height: 26px;
    color: #333333;
}

.advantage {
    text-align: center;
}

.sedona-features {
    font-size: 21px;
    list-style: none;
    text-align: center;
}

.sedona-feature p {
    color: #333333;
}

.advantage p:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)) {
    color: #333333;
}

.booking h4 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.booking p:first-of-type {
    text-align: center;
}

.booking-proposal {
    line-height: 24px;
    color: #333333;
}

.form-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.form-name:hover,
.form-name:focus {
    background-color: #604e43;
}

.form-name:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-search label {
    line-height: 26px;
    font-weight: 700; 
}

.hotel-search input {
    padding-left: 5px;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.hotel-search input:hover,
.hotel-search input:focus {
    background-color: #ebebeb;
}

.hotel-search input:active {
    background-color: #ffffff;
    border: solid #e5e5e5 2px;
}

.page-footer {
    width: 100%;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding-left: 132px;
    padding-right: 101px;
    padding-bottom: 36px;
    padding-top: 36px;

}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-button {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
   
    
}

.copyright p {
    line-height: 26px;
}

.copyright img:hover,
.copyright img:focus {
    fill: #81b3d2;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}