body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 1200px;
}

a {
    text-decoration: none;
}

.hotels-page .navigation-item:last-child a {
    color: #766357;
}

.button-details {
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.button-book {
    color: #ffffff;
    background-color: #766357;
    font-weight: 700;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.sedona-hotels {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    display: block;
}

.sedona-hotels li {
    margin: 0;
    display: flex;
    border: 1px solid #e5e5e5;
    padding-left: 73px;
    padding-right: 73px;
    margin-bottom: -1px;
    outline: 2px solid red;
}

.rating p {
    color: #666666;
    background-color: #f2f2f2;
    margin-left: auto;
}

.rating {
    margin-left: auto;
}

.sedona-hotels div {
    outline: 2px solid red;
}

.hotel-description {
    margin-left: 30px;
}

.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.main-navigation {
    padding: 0;
    margin: 0;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    display: flex;
    width: 1200px;
    background-color: #ffffff;
    outline: 2px solid red;
    position: absolute;
}

.navigation-logo {
    padding: 0;
    margin: 0;
    outline: 2px solid red;
    width: 138px;
    height: 56px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 73px;
    padding-right: 73px;
    align-items: center;
    min-height: 56px;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
color: #81b3d2;
}

.navigation-item a:active {
    color: #cacaca;
}

.layout-background {
    margin-top: 56px;
}

.layout-welcome {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 132px;
    left: 371px;
}

.layout-polygon {
    position: relative;
    bottom: 64px;
    
}

.main-advantages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantage-1 {
    display: block;
    float: left;
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    outline: 2px solid red;
}

.advantage-1 p {
    color: #ffffff;
}

.advantages h1 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    margin-top: 65px;
    outline: 2px solid red;
}

.advantages h3 {
    font-size: 21px;
    text-align: center;
    font-weight: 700;
}

.advantages:first-child p {
    text-align: center;
    line-height: 26px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 50px;
}

.advantage {
    text-align: center;
}

.sedona-features {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-left: 73px;
    padding-right: 63px;
    outline: 2px solid red;
    width: auto;
    min-height: 330px;
   
}

.sedona-features h4 {
    font-size: 21px;
}

.sedona-feature p {
    color: #333333;
}

.advantage-2 {
    padding: 0;
    margin: 0;
    display: block;
    float: right;
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    outline: 2px solid red;
}


.main-advantages li.advantage p {
    color: #333333;
}

.main-advantages div.advantage-1 p {
    color: #ffffff;
    vertical-align: middle;
}

.main-advantages div.advantage-2 p {
    color: #ffffff;
}

div.advantage-3,
div.advantage-4,
div.advantage-5  {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 400px;
    background-color: #eeeeee;
    min-height: 256px;
    outline: 2px solid red;
    margin-bottom: 55px;
}

.advantage-3 h3,
.advantage-4 h3,
.advantage-5 h3  {
    margin-top: 50px;
}

.advantage-3 p,
.advantage-4 p,
.advantage-5 p  {
    margin-bottom: 62px;
}

.booking h4 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    outline: 2px solid red;
    margin-bottom: 30px;
}

.booking p:first-of-type {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.booking-proposal {
    line-height: 24px;
    color: #333333;
    outline: 2px solid red;
}

.hotel-search {
    width: 570px;
    outline: 2px solid red;
    left: 315px;
    position: absolute;
    background-color: #ffffff;
}

.layout-form {
    padding: 55px;
}

.form-name {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    width: 570px;
    min-height: 86px;
    outline: 2px solid red;
}

.form-name:hover,
.form-name:focus {
    background-color: #604e43;
}

.form-name:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-search label {
    line-height: 26px;
    font-weight: 700; 
}

.hotel-search input {
    padding-left: 5px;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.hotel-search input:hover,
.hotel-search input:focus {
    background-color: #ebebeb;
}

.hotel-search input:active {
    background-color: #ffffff;
    border: solid #e5e5e5 2px;
}

.page-footer {
    margin: 0;
    width: auto;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 132px;
    padding-right: 101px;
    min-height: 120px; 
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    min-height: 48px;
    
}

.social-icon {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
}

.social-button {
    outline: 2px solid red;
    width: 46px;
    min-height: 48px;
    display: flex;
}

.social-button img {
    margin: auto;
}

.copyright p {
    line-height: 26px;
}

.copyright img:hover,
.copyright img:focus {
    fill: #81b3d2;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}