body {
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.website-position {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.hotel-characteristics {
    color: white;
    display: flex;
    background-color: #7092b0;
    padding-top: 27px;
    padding-left: 70px;
    padding-right: 65px;
    padding-bottom: 2px;
    background: url("../img/filter-background.jpg") no-repeat;
}

.hotel-characteristics fieldset {
    padding: 0;
    border: none;
}

.infrastructure {
    margin-right: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.infrastructure-title {
    font-weight: 700;
    font-size: 16px;
}

.infrastructure-list {
    padding: 0;
}

.infrastructure-list > li {
    padding: 13px 0;
    display: block;
    position: relative;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 27px;
    height: 23px;
    border: none;
    background-image: url("../img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.check-box {
    padding-left: 40px;
}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
    background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.infrastructure-list > span {
    padding-bottom: 10px;
}

.accomodation-type-list {
    padding: 0;
}

.accomodation-type-list > li {
    padding: 13px 0;
    display: block;
    position: relative;
}

.accomodation-type {
    display: flex;
    flex-direction: column;
}

.accomodation-type-title {
    font-weight: 700;
    font-size: 16px;
}

.hotel-characteristics ul {
    list-style: none;
}

.search-field {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 86px;
    weight: 1056px;
    outline: 2px solid red;
}

.found {
    margin-left: 71px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.search {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    min-width: 528px;
}

.search li:first-child {
    margin-right: 40px;
    margin-left: 9px;
}

.search li:not(:first-child) {
    margin-right: 33px;
}

.price-search {
    color: #81b3d2;
}

.type-search {
    border-bottom: 1px dotted #81b3d2;
    color: #cacaca;
}

.rating-search {
    border-bottom: 1px dotted #81b3d2;
    color: #cacaca;
}

.filter-button {
    position: absolute;
    right: 9px;
    top: 8px;
    background-color: transparent;
    border: none;
}

.filter-buttons {
    margin-left: auto;
    margin-right: 68px;
}

.filter-up {
    margin-right: 0px;
    background-color: transparent;
    border: none;
    fill: #cacaca;
}

.filter-down {
    background-color: transparent;
    border: none;
    fill: #81b3d2;
}

.calendar-1:hover,
.calendar-1:focus {
    fill: black;
}

.calendar-1:active {
    fill: #81b3d2;
    border: none;
}

.button-details {
    margin: 0;
    padding: 5px 16px;
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.button-book {
    margin: 0;
    padding: 5px 16px;
    color: #ffffff;
    background-color: #766357;
    font-weight: 700;
    margin-left: 3px;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-name {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.sedona-hotels {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    display: block;
    white-space: wrap;
}

.sedona-hotels li {
    margin: 0;
    display: flex;
    border: 1px solid #e5e5e5;
    padding-left: 73px;
    padding-right: 73px;
    margin-bottom: -1px;
    outline: 2px solid red;
    padding-top: 25px;
    padding-bottom: 30px;
}

img.hotel {
    padding-top: 5px;
}

.rating p {
    margin: 0;
    margin-top: 40px;
    color: #666666;
    background-color: #f2f2f2;
    margin-left: auto;
    padding: 5px 15px;
}

.rating {
    margin-left: auto;
    text-align: right;
}

.sedona-hotels div {
    outline: 2px solid red;
}

.hotel-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 258px;
    margin-left: 30px;
    height: 95px;
}

.hotel-description p {
    margin: 0;
    padding: 0;
}

.price {
    margin: 0;
    margin-left: 6px;
}

.type {
    width: 110px;
    margin: 0;
    margin-bottom: 17px;
    margin-top: 15px;
}

.buttons {
    margin: 0;
    align-self: flex-end;
}

.sedona-hotels h3 {
    margin: 0;
    width: 100%;
}

.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    width: 100%;
    padding: 18px;
}

.btn-transparent {
    display: block;
    margin: 0 83px;
    padding: 6px 35px;
    font: inherit;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    width: 137px;
    min-height: 36px;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
  

.filter-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 9px;
}

.price-controls {
    height: 33px;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 318px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-amount {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.price-controls label {
    display: inline-block;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.filter {
    margin-left: auto;
    color: #ffffff;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.main-navigation {
    padding: 0;
    margin: 0;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    display: flex;
    width: 1200px;
    background-color: #ffffff;
    outline: 2px solid red;
    position: relative;
}

.navigation-logo {
    position: absolute;
    padding: 0;
    left: 530px;
    outline: 2px solid red;
    width: 138px;
    height: 56px;
    z-index: 1;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 73px;
    padding-right: 73px;
    align-items: center;
    min-height: 56px;
}

.navigation-left {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.navigation-right {
    display: flex;
    justify-content: space-between;
    width: 330px;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
color: #81b3d2;
}

.navigation-item {
width: 240px;
text-align: left;
}

.navigation-item:nth-child(3) {
    text-align: right;
    margin-left: auto;
    padding-right: 2px;
}

.navigation-item:nth-child(4) {
    text-align: right;
}

.navigation-item a:active {
    color: #cacaca;
}

.navigation-item-active a {
    color: #766357;
}

.slider {
    position: relative;
    background: url("../img/background-photo.jpg");
    min-height: 509px;
    background-position: 0 -55px;
}

.slider::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: url("../img/intro-mask.svg")
}

.layout-background {
    display: block;
}

.layout-welcome {
    padding: 0;
    margin: 0 0 0 -230px;
    position: absolute;
    top: 76px;
    left: 50%;
}

.layout-polygon {
    position: relative;
    bottom: 58px;
    display: block;
}

.main-advantages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantage-1 {
    display: block;
    float: left;
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    outline: 2px solid red;
}

.advantage-1 p {
    color: #ffffff;
}

.advantages h1 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    margin-top: 59px;
    outline: 2px solid red;
}

.true-city {
    display: block;
}

.devil-bridge {
    display: block;
}

.advantages h3 {
    font-size: 21px;
    text-align: center;
    font-weight: 700;
}

.advantages p {
    text-align: center;
    line-height: 26px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 50px;
}

.main-advantages p {
    text-align: center;
    line-height: 26px;
    color: #333333;
    margin-top: 19px;
    margin-bottom: 42px;
}

.advantage {
    text-align: center;
}

.sedona-features {
    margin: 0;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-left: 73px;
    padding-right: 63px;
    outline: 2px solid red;
    width: auto;
    min-height: 300px;
   
}

.sedona-features h4 {
    font-size: 21px;
    margin: 20px;
}

.sedona-feature p {
    color: #333333;
}

.advantage-2 {
    padding: 0;
    margin: auto;
    display: block;
    float: right;
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    outline: 2px solid red;
}

.advantage-1 h3,
.advantage-2 h3 {
    margin-top: 45px;
}

.main-advantages li.advantage p {
    color: #333333;
}

.main-advantages div.advantage-1 p {
    color: #ffffff;
}

.main-advantages div.advantage-2 p {
    color: #ffffff;
}

div.advantage-3,
div.advantage-4,
div.advantage-5  {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 400px;
    background-color: #eeeeee;
    min-height: 256px;
    outline: 2px solid red;
    margin-bottom: 50px;
}

.advantage-3 h3,
.advantage-4 h3,
.advantage-5 h3  {
    margin-top: 48px;
}

.advantage-3 p,
.advantage-4 p,
.advantage-5 p  {
    margin-bottom: 52px;
}

.booking {
    position: relative;
}

.booking h4 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    outline: 2px solid red;
    padding: 0;
    margin-bottom: 22px;
}

.booking-proposal {
    text-align: center;
    padding: 0;
    line-height: 24px;
    color: #333333;
    outline: 2px solid red;
    margin-bottom: 50px;
}

.hotel-search {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    outline: 2px solid red;
    left: 315px;
    min-height: 395px;
    position: absolute;
    background-color: #ffffff;
}

.layout-form {
    padding: 38px 56px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-input-date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 460px;
    height: 38px;
}

.input-departure {
    align-self: flex-start;
    margin-top: 11px;
}

.button-change {
    content: "-";
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    border: none;
    color: red;
    background: transparent;

}

.input-number {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.calendar-1 {
    position: absolute;
    right: 6px;
    top: 8px;
    background-color: transparent;
    border: none;
    fill: #cacaca;
}

.calendar-1:hover,
.calendar-1:focus {
    fill: black;
}

.calendar-1:active {
    fill: #81b3d2;
    border: none;
}

.calendar-2 {
    position: absolute;
    right: 6px;
    top: 8px;
    background-color: transparent;
    border: none;
    fill: #cacaca;
}

.calendar-2:hover,
.calendar-2:focus {
    fill: black;
}

.calendar-2:active {
    fill: #81b3d2;
    border: none;
}

.form-name {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    width: 570px;
    padding: 30px 0;
    outline: 2px solid red;
}

.form-name:hover,
.form-name:focus {
    background-color: #604e43;
}

.form-name:active {
    color: #928a85;
    background-color: #503e33;
}

.hotel-search label {
    margin: 0;
    padding: 0;
    line-height: 26px;
    font-weight: 700; 
}

.date-input {
    box-sizing: border-box;
    padding: 8px 0 8px 11px;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    width: 346px;
    min-height: 38px;
    outline: 2px solid red;
}

.arrival-date input {
    margin: 0;
    margin-left: 18px;
    position: relative;
}

.departure-date input {
    margin-left: 18px;
    position: relative;
}

.adults {
    margin: 0;
    padding: 0;
    width: 230px;
}

.adults label {
    margin-right: auto;
}

.adults input {
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    width: 38px;
    height: 38px;
    text-align: center;
}

.button-change {
    height: 38px;
    width: 38px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #a9a9a9;
    font-size: 24px;
    font-weight: 700;
}

.button-change:hover,
.button-change:focus {
    fill: #000000;
}

.button-change:active {
    color: #81b3d2;
}

.children input {
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    width: 38px;
    height: 38px;
    text-align: center;
}

.children label {
    margin-right: auto;
}

.children {
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 182px;
}

.adults {
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 230px;
}

.hotel-search input:hover,
.hotel-search input:focus {
    background-color: #ebebeb;
}

.hotel-search input:active {
    background-color: #ffffff;
    border: solid #e5e5e5 2px;
}

.sedona-map {
    z-index: -2;
    display: block;
}

.page-footer {
    position: relative;
    margin: -123px 0 0 0;
    width: auto;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 132px;
    padding-right: 101px;
    min-height: 123px;
    background-color: #ffffff;
    opacity: 0.9;
}

.hotels-page .page-footer {
    position: relative;
    top: 2px;
    margin: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 132px;
    padding-right: 101px;
    min-height: 120px;
    background-color: #ffffff;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social-icons {
    margin-right: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    min-height: 48px;
}

.social-icon {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
}

.social-button {
    outline: 2px solid red;
    width: 46px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: #88b6d1;
}

.copyright p {
    line-height: 26px;
}

.copyright span {
    margin-right: 8px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 2px solid red;
}

.copyright:hover path,
.copyright:focus path {
    fill: #81b3d2;
}

.copyright:active path {
    fill: #bdbbbc;
}


